#game-debug-menu{
    display: flex;
    top: 10px;
    left: 10px;
    width: 400px;
    height: 400px;
    position: absolute;
    transform-origin: 0 0;
    overflow-y: scroll;
    z-index: 100;
    pointer-events: none;
    *{
        pointer-events: auto;
    }
    align-items: center;
    flex-direction: column;
    gap: 10px;
}