@use "../palette.scss";
@use "../fonts.scss";
#game {
    user-select: none;
    --webkit-user-select: none;
    position: fixed;
    touch-action: none;

    position: absolute;
    top: 0px;
    left: 0px;
    left: 0px;
    right: 0px;

    width: 100%;
    height: 100%;

    pointer-events: all;
}
#game-canvas{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: all;
}
#game-gui {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-origin: 0 0;
    overflow: visible;
    z-index: 100;
}

#health-bar-container {
    background: palette.$transparent_bg;
    border-radius: 2px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 330px;
    height: 30px;
    display: block;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    transform: translateY(-100%),translateX(-100%);

    @media screen and (max-width: palette.$screen_large) {
        width: 230px;
        height: 20px;
        bottom: 5px;

        border-width: 5px;
    }

    #health-bar,
    #health-bar-animation {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 2px;
        height: 100%;
        width: 100%;
        transition: width ease-in-out 3s;
    }

    #health-bar {
        background: linear-gradient(90deg, #fff,#dfdfdf);
        transition: width ease-in-out 0.6s;
    }

    #health-bar-animation {
        opacity: 50%;
        background: #ff0000;
    }

    #health-bar-amount {
        position: absolute;
        color: #fff;
        font-size: 20px;
        font-style: italic;
        z-index: 1;
        top:50%;
        left: 103%;
        transform: translateY(-50%);

        font-family: "Russo-One", serif;

        @media screen and (max-width: palette.$screen_large) {
            font-size: 10px;
        };
    }
}

#bottom-center-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0002;
    bottom: 5px;
    width: 200px;
    height: 80px;
    span{
        transform: translate(-50%,-50%);
        position: absolute;
        left: 50%;
        top: 50%;
        font-family: "Russo-One";
        font-size: 50px;
    }
    #action-info{
        position: absolute;
        top: -30px;
        left: 50%;
    }
    #current-item-slot{
        position: absolute;
        right: 103%;
        background-color: #0002;
        height: 80px;
        width: 80px;
        img{
            width: 70px;
            height: 70px;
        }
    }
}

.inventory-slot{
    background-color: #0002;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img{
        position: absolute;
        -webkit-transform: translate(-50%,-50%) rotate(-30deg);
        transform: rotate(-30deg);
        width: 50px;
        height: 50px;
    }
}
.inventory-slot-selected{
    border: 2px solid #0004;
}

#inventory{
    position: absolute;
    background-color: #0002;
    bottom: 5px;
    right: 5px;
    height: 300px;
    width: max-content;
    overflow-y: auto;
    overflow-x: hidden;

    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(22, 60px);
    grid-gap: 5px;
    padding: 10px;
    padding-top: 10px;
    .inventory-slot{
        margin: 0%;
        span{
            position: absolute;
            right: 5px;
            top: 5px;
            font-family: "Russo-One";
            z-index: 1;
            font-size: 15px;
        }
    }
}
#equipaments{
    position: absolute;
    background-color: #0002;
    top: 5px;
    right: 5px;
    height: max-content;
    width: max-content;
    overflow-y: hidden;
    overflow-x: hidden;

    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(2, 60px);
    grid-gap: 5px;
    padding: 10px;
    padding-top: 10px;

    .inventory-slot{
        margin: 0%;
        img{
            transform: unset;
            rotate: unset;
        }
    }
}